body{
    font-family: 'PT Mono', monospace;
}

nav{
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: black;
}

nav a:hover{
    color: rgb(100, 100, 100);
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color: rgb(100, 100, 100);
}

.logo img{
    width: 100px;
    margin-left: 10px;
}
.logo a{
    text-decoration: none !important;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;   
}

.menu a{
    text-decoration: none !important;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

.container-1 {
    margin-left: 20px;
    margin-top: 50px;
    width: 1000px;
    height: 550px;
}

.container-1 h1{
    font-size: 64px;
}

.container-1 button{
    margin-top: 30px;
    width: 140px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-family: 'PT Mono', monospace;
    box-shadow: -7px 7px #51D5FF;
    font-size: 16px;
}

.container-1 a{
    color: white;
    text-decoration: none !important;
   
}

.container-1 button:hover{
    background-color: aliceblue;
    color: #000000;
}

.container-1 a:hover {
    color: black;
    text-decoration: none !important;
}

.pp{
    float: left;
    margin-left: 50px;
    margin-right: 40px;
    padding-top: 3px;
    padding-bottom: 70px;
    width: 310px;
    background-color: black;
    border: 8px solid;
    box-shadow: -12px 12px #51D5FF;
}

.container-logo{
    margin-left: 50px;
    margin-top: 100px;
    left: 80px;
}
.card-logo{
    display: inline-block;
    padding: 18px;
    background-color: #000000;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: -8px 8px #51D5FF;
}
.logo-sosmed{
    width: 30px;
}


/* --------------------------------CV----------------------------------- */

.body-cv{
    height: 1000px ;
    width: 595px;
    margin: auto;
    font-family: 'Source Sans Pro';
    background-color: aliceblue;
    margin-bottom: 200px;
}

.head-cv{
    background-color: #0B2842;
    width: 595px;
    height: 158px;
}

.head-cv h1{
    font-size: 24px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    color: white;
    font-weight:bold;
}

.head-cv p{
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px; 
    color: white;
    font-weight: lighter;
}

.contact-cv{
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 170px 240px 130px;
}

.contact-cv-item{
    padding-bottom: 5px;
}

.contact-cv-item a{
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    text-decoration: none !important;
}

.contact-cv-item img{
    width: 20px;
    padding-top: 2px;
    padding-right: 5px;
    float: left;
}

.content-cv{
    margin-left: 30px;
    margin-right: 30px; 
}

.content-cv h1{
    margin-top: 10px;
    margin-bottom: 1px;
    font-weight: bold;
    color: #0B2842;
    
}

.tgl{
    margin-bottom: 0px;
    margin-top: 1px;
    font-size: 14px;
    font-style: italic;
}

.position h2{
    margin-top: 1px;
    margin-bottom: 1px;
}
.cv{
    margin-top: 1px;
    margin-bottom: 1px;
}
.jobdesk {
    margin-top: 3px;
    font-size: 12px;
}

.box-web-dev{
    margin-top: 1px;
    border: solid rgba(0, 0, 0, 0.24);
    border-width: 1px;
    border-radius: 5px;
    width: 120px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}

.box-tech-stack{
    display: grid;
    grid-template-columns: 90px 70px 110px 80px 100px 100px;
    padding: 5px;
}

.tech-stack{
    border: solid rgba(0, 0, 0, 0.24);
    border-width: 1px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
}

.logo-in-box{
    float: left;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.logo2-in-box{
    margin-left: 10px;
    margin-top: 8px;
}

.mongoDB{
    padding-top: 3px;
}

.box-soft-skill {
    display: grid;
    grid-template-columns: 150px 150px 200px;
    padding: 5px;
}

.soft-skill {
    border: solid rgba(0, 0, 0, 0.24);
    border-width: 1px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    width: 120px;
    height: 20px;
    padding-top: 3px;
}

/* --------------------------------------------------------------------------------------------- */